@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .backgroundGrad {
background: #BEA2E5;
background: linear-gradient(135deg, #BEA2E5, #8017C1);
    }
}

@layer components {
    .bcImage {
        background-color: #0F0F12;
        background-attachment: fixed;
        background-size: cover;

    }
}

